@tailwind base;
@tailwind components;
@tailwind utilities;

#preampSlider {
    -webkit-appearance: none;
    cursor: pointer;
}

#preampSlider::-webkit-slider-thumb {
    width: 24px;
    height: 100%;
    background-color: #3730a3;
    border-radius: 6px;
}

.eqSliderContainer input[type="range"] {
    -webkit-appearance: none;
    transform: rotate(270deg); /* No need for -webkit-prefix here */
    cursor: pointer;
}

.eqSliderContainer input[type="range"]::-webkit-slider-thumb {
    width: 24px;
    height: 100%;
    background-color: #3730a3;
    border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    outline: none;
}
